h3{
    text-align: center;
    margin: 1rem;
    color: rgb(2, 46, 0);
}

div.input{
    background-color: rgb(2, 46, 0);
     display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 1rem;
    width: 95%;
    margin: auto;
}
div.input input{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 75%;
    padding: 1rem 3rem;
    margin:2rem 2rem 2rem 0;
    border-radius: 2rem;
    border: none;
    outline: none;
    background-color: green;
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
}
div.input button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 5%;
    margin:2rem 0.5rem 2rem 2rem;
    border-radius: 2rem;
    padding: 1rem;
    font-size: 0.7rem;
    border: none;
    outline: none;
    background-color: green;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.3s;
}   
div.input button span{
    font-size: 1rem;
    margin: 0 1rem 0.5rem 1rem;
    color: rgb(255, 255, 255);
}
div.input button:hover{
box-shadow: 0 0 1rem 0  rgb(255, 255, 255) ;
}